.auth-form {
  width: 500px;
  margin: 60px auto;
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .auth-form {
    padding: 0 2rem;
    width: 100%;
  }
}


.errors-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem 2rem;
  opacity: 0;
  transition: all .3s ease-out;
}

.errors-container.active {
  position: fixed;
  opacity: 1;
}

table tr th, table tr td {
  border: 1px solid #ccc !important;
}

body {
  background: rgba(238, 238, 238, 0.5);
}

#app-root {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.material-symbols-outlined.active {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

ul {
  margin: 0;
}

hr {
  margin: 0;
}

img {
  max-width: 100% !important;
}

input[type="datetime-local"] {
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

input[type="datetime-local"]::-webkit-datetime-edit {
  padding: .5rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  margin-right: .5rem;
}

.shortcuts,
.friends {
  flex: 1;
  flex-shrink: 0;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.posts,
.posts .posts-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 2;
  flex-shrink: 0;
}

.posts .posts-container .post .post-content img.author-image {
  width: 40px;
  border-radius: 9999px;
  height: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
}

.posts .posts-container .post div.author-first-letter {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  color: #fff;
}

.posts .posts-container .post .post-actions .like {
  cursor: pointer;
}

.posts .posts-container .post .post-actions .like.active {
  color: #be123c;
  animation: pulse 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.user-first-letter {
  background-color: rgba(110, 48, 76, 1);
  color: #fff;
  font-size: 5rem;
}

.user-current-profile {
  border: 1px solid #ccc;
}

.carousel-indicators {
  background: rgb(0 0 0 / 50%);
  margin-bottom: 0;
}

.carousel-item img {
  max-width: 30rem !important;
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
  background: black;
}

.profile-page-posts {
  grid-template-columns: repeat(2, 1fr);
}

.profile-page-no-posts {
  grid-template-columns: repeat(1, 1fr);
}

.email-verification-notice.card {
  width: 100%;
}

.email-verification-notice.card form#send-verification-email-form {
  display: none;
}
