#app-root {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.shortcuts,
.friends {
  /*flex-basis: 25%;*/
  flex: 1;
  flex-shrink: 0;
}

.posts {
  /*flex-basis: 100%;*/
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 2;
  flex-shrink: 0;
}

