*:not(.toast) {
  transition: none !important;
}

*:not(.spinner-border) {
  border-radius: 0 !important;
}

table tr th, table tr td {
  border: 1px solid #ccc !important;
}

body {
  background: rgba(238, 238, 238, 0.5);
}

#app-root {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.material-symbols-outlined.active {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

ul {
  margin: 0;
}

hr {
  margin: 0;
}

img {
  max-width: 100% !important;
}
