table tr th, table tr td {
  border: 1px solid #ccc !important;
}

body {
  background: rgba(238, 238, 238, 0.5);
}

#app-root {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.material-symbols-outlined.active {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

ul {
  margin: 0;
}

hr {
  margin: 0;
}

img {
  max-width: 100% !important;
}

input[type="datetime-local"] {
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="datetime-local"]::-webkit-datetime-edit {
  padding: .5rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  margin-right: .5rem;
}
