.user-first-letter {
  background-color: rgba(110, 48, 76, 1);
  color: #fff;
  font-size: 5rem;
}

.user-current-profile {
  border: 1px solid #ccc;
}

.carousel-indicators {
  background: rgb(0 0 0 / 50%);
  margin-bottom: 0;
}

.carousel-item img {
  max-width: 30rem !important;
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
  background: black;
}
